* {
    box-sizing: border-box;
    margin: 0; 
    padding 0;
}
    
     body { 
    margin: 0; 
    padding: 0; 
    font-family: 'Segoe UI', sans-serif; 
    background-color: #ffffff;
    background: linear-gradient(135deg, #000000 60%, #DAA520 100%);
    display: flex; 
    justify-content: center;
    align-items: center;
    height: 100vh;

}

.login-container { 
    background-color: black;
    border-radius: 10px;
    padding: 40px;
    box-shadow: 0 0 25px rgba(218, 165, 32, 0.6);
    width: 100%; 
    max-width: 400px;
}

.login-box h2 {
    color: #DAA520; 
    text-align: center;
    margin-bottom: 25px;
    font-size: 30px;

}

.input-group {
    margin-bottom: 20px; 
    position: relative;

}

.input-group label { 
    display: block; 
    color: #ffffff; 
    margin-bottom: 8px;
    font-size: 10px;

}
.input-group i { 
    position: absolute;
    left: 12px;
    top: 60%;
    transform: translateY(-50%);
    color: #DAA520;
    font-size: 20px;
    pointer-events: none;
}
.input-group input { 
    width: 100%;
    padding: 14px 12px 14px 45px;
    border: 1px solid #DAA520;
    border-radius: 5px;
    background-color: #fff; 
    font-size: 16px;
    height: 50px; 
    box-sizing: border-box;


}

.login-btn { 
    width: 100%;
    background-color: #DAA520;
    border: none;
    padding: 8px;
    color: BLACK; 
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer; 
    font-size: 16px;
    margin-top: 10px;
    transition: background-color 0.3s ease;
}

.login-btn:hover { 
background-color: #b8860b;

}

.signup-link { 
    text-align: center;
    margin-top: 20px;
    color: white;
    font-size: 14px;
}

.signup-link a { 
    color: #DAA520;
    text-decoration: none;
}

.signup-link a:hover { 
    text-decoration: underline;
}