.container {
	display: flex;
	margin-top: 25px;
}

.banner {
	height: 200px;
	width: 100%;
	/*outline-style: solid;*/
}

.banner2 {
	margin: auto;
	position: relative;
	top: 100px;
	width: 80%;
	max-width: 1080px;
}
.profilePic {
	position: relative;
	height: 100px;
	width: 100px;
}

.name {
	position: relative;
	left: 10px;
	bottom: 10px;
}

.content-left {
	width: 60%;
}

.content-right {
	width: 40%;
}

.post {
	background: #fff;
	border-radius: 10px;
	box-shadow: 0 0 5px #ddd;
	padding: 20px;
	margin: 20px;
}

.post img {
	width: 50px;
}
.post-text {
	font-size: 1.5em;
}

.post-info {
	font-size: .75em;
}

.user-info {
	margin: 10px;
}
