@import "https://www.nerdfonts.com/assets/css/webfont.css";
body {
	font-family: "Helvetica", "Arial", sans-serif;
	background: #f1f1f1;
	color: black;
}

.ouText {
	color: #B59A57;
}
.container {
	margin:auto;
	width: 80%;
	max-width: 1080px;
}

.header {

}

.footer {

}
